* {
	font-family: Arial;
}

*{
	-webkit-box-sizing: border-box;
	-mozbox-sizing: border-box;
	-msbox-sizing: border-box;
	box-sizing: border-box;
}

body {
	max-width: 330px;
}

h3 {
	padding: 0px 0px 0px 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


ul {
	padding-left: 0px; /*overwrite default padding*/
}

span {
	font-weight: bold;
	font-style: normal;
}

li, .italicized {
	font-style: italic;
	list-style-type: none; /*overwrite default list-style-type*/
}

.outer-border {
	border: 1px solid rgb(206, 206, 206);
	padding: 0px 10px 10px 10px;
	box-shadow: 0px 5px 5px 0px rgb(206, 206, 206);
}

.description {
	border: 1px solid rgb(206, 206, 206);
	padding: 0px 10px 0px 10px;
	margin: 10px 0px 10px 0px;
}